@media(max-width: 440px){
    .toAlign{
        display: flex;
        flex-direction: column;
    }
    button{
        width: 190px;
    }
    form{
        display: flex;
        flex-direction: column;
    }
}
@media(max-width: 260px){

    .Submit{
        width: 180px;
    }
}

.toAlign{
    color: white;
    font-size: larger;
}